/* TEXTE NORMAL*/
/* Identifier le background normal */
/* Identifier les couleurs du texte normal, liens green/red, liens*/
/* Identifier la font du texte normal */
/* Identifier la font-size du texte normal, liens, nav bar, 
bouttons */
/*  Identifier la font-weight des textes normal */
/* Identifier l'interlignage du texte normal */
/* Identifier le style des liens */

/* Soupire Layout */
/* Identifier le padding horizontal des contenants des sections */

/* ASIDE & BLOCKQUOTE*/
/* Identifier le background des aside et blockquote */
/* Identifier les couleurs des contenus transversales aside
 et blockquote et liens asides*/
 /* Identifier la font des asides */
/* Identifier la font-size et interlignage des contenus transversales*/
/* Identifier le style (italic ou new font ou border) de blockquote */
/* Identifier le style (border) des blocs */
/* positionnement des insides internes */

/* YIN */
/* Identifier les backgrounds Yin, aside yin et blockquote yin */
/* Identifier les couleurs des textes Yin, des liens yins, aside
yin, liens aside yins, blockquote yin */

/* TITRAGE */
/* Identifier la font-size, interlignage et styles (weight, caps, 
uppercase, border) des Titrages */

/* CTA */
/* Identifier le bg image hero */
/* Identifier les couleurs du texte et des liens cta */
/* Identifier la font cta */
/* Identifier la font-size liens cta, texte cta*/
/* Identifier l'interlignage cta */
/* Identifier les styles (border, radius) des liens cta */

/* Nav */
/* Identifier background nav et btns */
/* Identifier color, liens nav et buttons */
/* Identifier font-size nav et buttons */
/* Identifier styles (border, pseudo, .active) liens nav et btns */

/* Footer */
/* Identifier background footer*/
/* Identifier color footer text, h4, links.*/
/* Identifier font-size footer text, links et small*/

/*
background
color
font-family
font-size
line-height
text-decoration
font-weight
font-style
font-variant
text-transform
border
border-radius
*/

/* Identifier le texte indent des textes normes */

/*
width
height
margin
padding
display
*/





/* 
body
margin 8px 0

h1 bold
font-size : 32px
line-height: 38px
margin 21,4px 0


h2 bold
font-size : 24px
line-height: 30px
margin: 19.9px 0

h3 bold
font-size: 18,7px
line-height: 23px
margin 18,7px 0

p
margin 16px 0

blockquote, figure
margin 16px 40px

ul
margin 16px 0
padding: 0 0 0 40

small
font-size: 13px
line-height: 16px

h4 bold
margin 21,3px 0

button
font-size: 13,3px
line-height: 17px
padding 0 6px

h5 bold
font-size: 13,3px
line-height: 16,6px
margin 26,7px 0

h6 bold
font-size: 10,7px
line-height: 13,4px
margin 37,3px 0
*/

/* LAYOUT BLOCS */
 /* Width du container, #header, section, aside,
 article, asideIn, footer elements */
/* display des blocs */
/* margin horizontal des blocs */
/* padding vertical du container, hero, de la nav 
header de #header, section, aside, asideIn et footer */
/* padding horizontal de article et asideIn */
/* margin vertical des blocs */
/* Responsive display, width, margin-bottom, right
sur article et insideIn, footer elements */
/* Text-align sur #hero, nav, footer elements*/

/* Eléments de 2ème degré */
/* nav li */
