* {box-sizing: border-box;}

/* IE 9- */
article,aside,footer,header,nav,section,figcaption,figure,main {
  display: block;}

/* Counter Browser */
body {margin: 0;}


/* Texte */
html {les couleurs, l'interlignage
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	color: #333;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.25;
}
a:link {
	text-decoration: none;
	color: #336;
	font-weight: 600;
}
a:visited {
	color: #669;
}
nav a:link,
nav a:visited,
.btn {
	font-size: 18px;
}


/* Titrage */
h3 {
	/*font-size: */
	/*line-height: */
	font-weight: normal;
}

h2 {
	/*font-size: */
	/*line-height: */
}

h1 {
	/*font-size: */
	/*line-height: */
	text-transform: uppercase;
	font-weight: normal;
}
.cta h1 {
	font-size: 28px;
	line-height: 2.125;
	font-variant: small-caps;
	text-transform: none;
}
span.trucOk {
	color: #0f0;
}
span.attention {
	color: #f00;
}


/* Contenu d'Appel */
.cta {
	font-family: Arial;
	line-height: 1.5;
	color: #cff;
}
.cta a:link.btn {
	font-size: 24px;
	color: #cff;
	border: 2px solid #cff;
	border-radius: 5px;
}
.cta a:visited.btn {
	color: #cff;
}





/* Contenu transversale */
aside {
	color: #555;
	font-family: Trebuchet;
	background: #ddd;
}
aside a:link {

}
aside a:visited {

}
blockquote {
	color: #335;
	font-family: "Courier New";
	/*font-style: italic;*/
	background: #ffd;
}

/* LAYOUT */
/* Identifier la disposition du contenu squelette html et display */
/* Identifier les espacements */
/* TEXTE ALIGN */
/* Identifier le texte align des textes, btns, liens et texte cta
et nav links */


/* TEXTE NORMAL*/
/* Identifier le background normal */
/* Identifier les couleurs du texte normal et liens */
/* Identifier la font du texte normal */
/* Identifier la font-size du texte normal, liens, nav bar, 
bouttons */
/* Identifier l'interlignage du texte normal */
/* Identifier le style des liens */

/* ASIDE & BLOCKQUOTE*/
/* Identifier le background des aside et blockquote */
/* Identifier les couleurs des contenus transversales aside
 et blockquote et liens asides*/
 /* Identifier la font des asides */
/* Identifier la font-size et interlignage des contenus transversales*/
/* Identifier le style (italic ou new font) de blockquote */

/* YIN */
/* Identifier les backgrounds Yin, aside yin et blockquote yin */
/* Identifier les couleurs des textes Yin, des liens yins, aside
yin, liens aside yins, blockquote yin */

/* TITRAGE */
/* Identifier la font-size, interlignage et styles (weight, caps, 
uppercase) des Titrages */

/* CTA */
/* Identifier le bg image hero */
/* Identifier les couleurs du texte et des liens cta */
/* Identifier la font cta */
/* Identifier la font-size liens cta, texte cta*/
/* Identifier l'interlignage cta */
/* Identifier les styles (border, radius) des liens cta */

/* Identifier le texte indent des textes normes */

/* Styles des boutons  */

/*
TEXTE :
background
color
font-family
font-size
line-height
text-decoration
font-weight
font-style
font-variant
text-transform
border
border-radius
*/

/* Couleur pour un fond Yin */
.yinBg {
	color: #fff;
	background: #333;
}
.yinBg a:link {
	color: #ffc;
}
.yingBg a:visited {
	color: #cc9;
}
.yinBg aside {
	color: #ddd;
	background: #555;
}
.yinBg aside a:link {
	color: #dda;
}
.yinBg aside a:visited {
	color: #aa7;
}
.yinBg blockquote {
	color: #ffd;
	background: #335;
}


/* Layout */
.wrapper {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}

#hero {
	background: url("girl.jpg") 0 0 no-repeat;
	background-size: 100% auto;
	padding: 10% 0;
}
#split article,
#split aside {
	display: inline-block;
	width: 50%;
}

/*


text-align
padding
margin


*/