* {box-sizing: border-box;}

/* IE 9- */
article,aside,footer,header,nav,section,figcaption,figure,main {
  display: block;}

/* Counter Browser */
body {margin: 0;}

/* Texte */
html {les couleurs, l'interlignage
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	color: #666;
	font-family: "Segoe UI";
	font-weight: 300;
	font-size: 17px;
	line-height: 1.25;
}
span.green {
	color: #3c3;
}
span.red {
	color: #c33;
}
a:link{
	color: #66c;
	text-decoration: none;
	/*font-style: italic;*/
}
a:visited {
	color: #99c;
}
nav a:link,
nav a:visited,
.btn {
	font-size: 18px;
}


/* Titrage */
h3 {
	/*font-size: */
	/*line-height: */
	font-weight: normal;
}

h2 {
	/*font-size: */
	/*line-height: */
}

h1 {
	/*font-size: */
	/*line-height: */
	text-transform: uppercase;
	font-weight: normal;
}
.cta h1 {
	font-size: 28px;
	line-height: 2.125;
	font-variant: small-caps;
	text-transform: none;
}





/* Contenu d'Appel */
.cta {
	font-family: Arial;
	line-height: 1.5;
	color: #cff;
}
.cta a:link.btn {
	font-size: 24px;
	color: #cff;
	border: 2px solid #cff;
	border-radius: 5px;
}
.cta a:visited.btn {
	color: #cff;
}





/* Contenu transversale */
aside {
	color: #555;
	font-family: Trebuchet;
	background: #ddd;
}
aside a:link {

}
aside a:visited {

}
blockquote {
	color: #335;
	font-family: "Courier New";
	/*font-style: italic;*/
	background: #ffd;
}

/* LAYOUT */
/* Identifier la disposition du contenu squelette html et display */
/* Identifier les espacements */
/* TEXTE ALIGN */
/* Identifier le texte align des textes, btns, liens et texte cta
et nav links */


/* Couleur pour un fond Yin */
.yinBg {
	color: #fff;
	background: #333;
}
.yinBg span.green {
	color: #6f6;
}
.yinBg span.red {
	color: #f66;
}

.yinBg a:link {
	color: #99f;
}
.yinBg a:visited {
	color: #99c;
}
.yinBg aside {
	color: #ddd;
	background: #555;
}
.yinBg aside a:link {
	color: #dda;
}
.yinBg aside a:visited {
	color: #aa7;
}
.yinBg blockquote {
	color: #ffd;
	background: #335;
}


/* Layout */
.container {
	/*min-width: 320px;*/
	/*max-width: 960px;*/
	/*margin: 0 auto;*/
	padding: 2% 5%;
}

/*#hero {
	background: url("girl.jpg") 0 0 no-repeat;
	background-size: 100% auto;
	padding: 10% 0;
}
#split article,
#split aside {
	display: inline-block;
	width: 50%;
}*/
