html {
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article,aside,footer,header,nav,section,figcaption,figure,main{display:block;}
body,h1,h2,h3,h4,p,ul,blockquote, figure {margin:0;}
ul {padding:0;}


/* OPINIONATED */
* {box-sizing: border-box;}
li:last-child, ul:last-child, p:last-child, blockquote:last-child, figure:last-child, .btn:last-child, button:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, article:last-child {
	margin-bottom: 0;
}
li {list-style-position:inside;}
img {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-bottom: -4px;
	vertical-align: middle;
	/*height: auto;*/
}	
a {
	display: inline-block;
}	
small {
	display: block;
	text-align: center;
}
figcaption {
	margin-top: -4px;
	text-align: center;
}	
.cf:after {
	content:"";
	display:block;
	height:0;
	overflow: hidden;
	clear:both;
}			   


/* Normal Yang Elements */
body {
	color: #666;
	font-family: "Segoe UI";
	font-size: 17px;
	font-weight: 300;
	line-height: 1.25;
}
/*span.green { color: #3c3; }*/
/*span.red { color: #c33; }*/
a:link{
	color: #66c;
	text-decoration: none;
	/*font-style: italic;*/ 
}
a:visited {	color: #99f; }
/*aside span.green { color: #7f7; }*/
/*aside span.red { color: #f77; }*/
li {
	margin-bottom: 8.5px;
}
figcaption {
	background: #f0f0f0;
	padding: 7px 0;
}
p, blockquote, figure, ul {
	margin-bottom: 17px;
}

blockquote {
	background: #fdfef0;
	color: #aaa3a0;
	font-weight: 400;
	/*font-family: "Calibri";*/
	font-style: italic;
	padding: 20px;
}
button {
	background: #efefef;
	color: #aaa;
	font-size: 18px;
	font-family: "Calibri";
	border: 0;
	cursor: pointer;
	border-radius: 7px;
	margin-bottom: 18px;
	padding: 9px 18px;
}
h4 {
	font-size: 17px;
	font-weight: 400;
	text-decoration: underline;
	margin-bottom: 17px;
	/*padding:;*/
}
h3 {
	font-size: 20.7px;	
	/*line-height: 24px;*/
	margin-bottom: 20.7px;
	/*padding:;*/
}
h2 {
	font-size: 25px;
	/*line-height: 31.25px;*/
	margin-bottom: 25px;
	/*padding:;*/
}
h1 {
	font-size: 33px;
	/*text-align: center;*/
	/*text-transform: uppercase;*/
	/*line-height: 39.2px;*/
	/*font-weight: normal;*/
	margin-bottom: 33px;
	text-align: center;
	/*padding:;*/
}


/* YIN BG ELEMENTS */
.yinBg {
	background: rgba(51,51,51,0.9);
	color: #fff;
}

.yinBg span.green {	color: #6f6; }
.yinBg span.red { color: #f66; }
.yinBg a:link {	color: #99f; }
.yinBg a:visited { color: #99c; }
.yinBg figcaption {
	background: #303030;
}
.yinBg blockquote {
	background: #3d3e30;
	color: #bbbcbf;
}
.yinBg button {
	background: #383838;
	color: #999;
}


/* LAYOUT */
.container {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5%;
}
main h1, section, aside {
	/*background: #fff;*/
	padding: 3% 0;
	/*margin:;*/
}
article.aside {
	margin-bottom: 4%;
	width: 55%;
	padding-right: 3%;
}
article.col_1-3 {
	margin-bottom: 4%;
	width: 32%;
	padding: 0 2%;
	text-align: center;
	margin-right: 2%;
}
article.col_1-3:nth-child(3n){
	margin-right: 0;
}
article.aside, aside.inside {
	display: inline-block;
	vertical-align: top;
}
article.col_1-3 {
	float: left;
}


/* Aside styles Elements */
aside {
	background: #efefef;
	color: #aaa;
	font-family: "Calibri";
	font-size: 18px;
}
aside.inside {
	padding: 4% 5%;
	width: 45%;
}
aside a:link{
	color: #aaf;
	/*font-style: italic;*/
}
aside a:visited { color: #ddf; }
/*aside li {
	margin-bottom:;
}*/
aside figcaption {
	padding: 6.5px 0;
}
/*aside p, aside figure, aside ul {
	margin-bottom:;
}*/
aside button {
	background: #ceceff;
	color: #fff;
}
aside.inside li {
	margin-bottom: 8px;
}
aside.inside p,
aside.inside figure,
aside.inside ul {
	margin-bottom: 16px;
}
aside.inside button {
	font-size: 17px;
	margin-bottom: 17px;
	padding: 8.5px 17px;
}
aside.inside h3 {
	font-size: 19.7px; 
	/*line-height: 25.4px;*/
	margin-bottom: 19.7px;
	/*padding:; */
}

/* Yang Aside Styles Elements */
.yinBg aside {
	background: #383838;
	color: #999;
}
.yinBg aside span.green {
	color: #afa;
}
.yinBg aside span.red {
	color: #faa;
}
.yinBg aside a:link {
	color: #99f;
}
.yinBg aside a:visited {
	color: #ccf;
}
.yinBg aside button {
	background: #295959;
	color: #999;
}


.indent {
	text-indent: 50px;
}
.item {
	/*display: inline-block;*/
	float: left;
	width: 25%;
	height: 150px;
	overflow: hidden;
	/*margin-bottom: 0;*/
}
figure.floatLeft {
	float: left;
	margin-top: 17px;
	margin-right: 17px;
}
figure.floatRight {
	float: right;
	margin-top: 17px;
	margin-left: 17px;	
}
figure.floated {
	max-width: 33%;
}


/* Footer Elements */
footer {
	background: #282828;
	color: #999;
	font-size: 15px;
	padding: 4% 0 1% 0;
}
footer li {
	margin-bottom: 7.5px;
	list-style-type: none;
}
footer p,  
footer figure,
footer ul {
	margin-bottom: 15px;
}
footer h4 {
	color: #bbb;
}
small {
	font-size: 14px;
}
footer a:link,
footer a:visited {
	color: #bbb;
	font-size: 15px; 
}
#epilogue, #socialLinks, footer nav {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2%;
}
#epilogue {
	width: 50%;
	/*padding-right: 3%;*/
}
#socialLinks {
	width: 15%;
}
#footerLinks {
	width: 35%;
}
#socialLinks li, #socialLinks h4 {
	text-align: center;
}
#footerLinks ul {
	display: inline-block;
	width: 50%;
}
#footerLinks ul:first-of-type {
	text-align: center;
}
#footerLinks h4,
#footerLinks ul:last-of-type {
	text-align: right;
}


/* Footer Elements */
.cta {
	font-size: 20.7px;
	color: #fff;
	font-family: calibri;
	/*text-align: center;*/
	/*padding: 2.5% 0;*/
}
.cta li {
	/*display: inline-block;*/
	/*width*/
	/*margin-bottom: 10.35px;*/
}
.cta p, 
.cta blockquote, 
.cta figure,
.cta ul {
	margin-bottom: 20.7px;
}
.cta span.green {
	color: #6f6;
}
.cta span.red {
	color: #f66;
}
.cta a:link {
	color: #99f;
}
.cta a:visited {
	color: #99c;
}
.cta a:link.btn,
.cta a:visited.btn {
	color: #fff;
	font-size: 26px;
	margin-bottom: 26px;
	padding: 13px 26px;
	border: 2px solid #fff;
	border-radius: 5px;
	box-shadow: 1px 5px 5px rgba(255,255,255,0.4);	
}
.cta a.btn:hover {
	background: rgba(0,200,200,0.9);
	border-color: transparent;
	font-weight:400;
	text-shadow: 1px 1px 10px #000;
	/*color: #000;*/
	box-shadow: 1px 1px 50px #0ff;	
}
/*.cta h2 {

}*/


/* Header elements */
#hero {
	background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)) 0 0 no-repeat, 
	url("girl2.jpg") 0 0 no-repeat, 
	url("girl.jpg") 50% 0 no-repeat, 
	url("girl3.jpg") 100% 0 no-repeat;
	background-size: 100% auto, 33% 100%, 33% 100%, 33% 100%;
	/*background-attachment: fixed;*/
	background-color: #222;
	padding: 5% 0;
	text-align: center;
	/*margin:;*/
}
#hero h1 {
	font-size: 32px;
	font-family: calibri;
	/*font-variant: small-caps;*/
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 32px;
	text-shadow: 10px 5px 10px #fff;
	/*padding:;*/
}
#header nav a:link,
#header nav a:visited {
	font-size: 19.7px; 
	color: #666;
}
#header nav a.active,
#header nav a:hover {
	color: #000;
	text-decoration: underline;
}
#header nav {
	background: #efefef;
	padding: 1% 0;
	/*text-align: center;*/
	/*margin:;*/
}
#header nav ul, #logo {
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
}
#logo {
	/*text-align: left;*/
	float: left;
	min-width: 165px;
	/*width: 28%;*/
}
#header nav ul {
	text-align: right;
	float: right;
	min-width: 445px;
	/*width: 72%;*/
	margin-bottom: 0;
	/* RWD margin-bottom: 19.7px; */
}
#header nav li {
	display: inline-block;
	margin-bottom: 0;
	padding: 0 1%;
	/*RWD margin-bottom: 9.85px;*/ 
}
#header nav li a {
	display: block;
	/*padding: 0 10%;*/
}
#header nav li:hover a {
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
#header {
	/*margin-bottom: 4%;*/
	/*text-align: center;*/
	/*padding:;*/
	box-shadow: 0 5px 10px #777;
}


/* RESPONSIVE WEB */
@media all and (max-width: 788px) {
	#epilogue {
		display: block;
		width: 100%;
	}
	#socialLinks {
		width: 31%;
	}
	#footerLinks {
		width: 69%;
	}
	#footerLinks ul {
		display: block;
		width: 100%;
	}
	#footerLinks ul:first-of-type {
	text-align: right;
	}
	#footerLinks ul li {
		display: inline-block;
	}

	#gallerie .item {
		width: 33%;
		height: 200px;
	}
}

@media all and (max-width: 660px) {
	#logo, #header nav ul {
		/*display: block;*/
		/*width: 100%;*/
		text-align: center;
		margin-bottom: 2%;
		float: none;
		min-width: initial;
	}
	

	article.aside, aside.inside, article.col_1-3 {
		display: block;
		width: 100%;
	}
	article.aside {
		padding-right: 0;
	}
	article.col_1-3 {
		margin-right: 0;
	}

	#gallerie .item {
		width: 50%;
		height: 250px;
	}

}

@media all and (max-width: 538px) {
	#header nav li {
		margin-bottom: 9.85px;
		display: block;
	}
	#gallerie .item {
		/*display: block;*/
		float: none;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10%;
		height: initial;
	}
}
